* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #666666
}

.container-fluid {
    padding: 0;
    margin: 0;
}

a {
    color: black;
}

a:hover {
    color: #666666;
}

#header {
    background-color: #666666;
}

#main {
    background-color: white;
}

#logo {
    max-height: 100px;
}

.green {
    color: #01cc9b;
}
.bg-green {
    background-color: #01cc9b;
}

.bg-menu {
    background-color: white;
    border: 1px solid black;
    border-top-color: white;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}


.white-icon {
    color: white;
    font-size: 2.2em;
}

.search-phone {
    display: none;
}

#searchBar {
    display: block;
}

.input-group-text {
    background-color: #01cc9b;
    border: black;
}

.form-control:focus {
    border-color: #01cc9b;
}

.ui-menu-item-wrapper:hover {
    background-color: #01cc9b;
    border-color: #666666;
}

.btn-primary {
    background-color: #01cc9b;
    border-color: #666666;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    padding-left: 1px;
    padding-right: 1px;
}

.btn-primary:focus {
    background-color: #01cc9b;
    border-color: #666666;
}

.btn-primary:hover {
    background-color: #00b48a;

    border-color: #666666;
}

.mega-menu-ul {
    list-style: none;
}

.mega-menu-ul li {
    margin: 20px;
}

.menu-img {
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#mega-menu1 {
    display: none;
    z-index: 100;
}

#mega-menu2 {
    display: none;
    z-index: 100;
}

#mega-menu3 {
    display: none;
    z-index: 100;
}

#menu-hamburger {
    display: none;
}

#footer{
    background-color: #666666;
}

.icon-footer{
    margin-left: 4px;
    margin-right: 4px;
}
.btn-contact{
    
    margin-bottom: 20px;
    margin-left: 94%;
}

.hidden-footer-link{
    visibility: hidden;
}
.form-contact{
    background-color: #eeeeee;
}



/* TAILLE TELEPHONE */
@media (max-width: 575.98px) {
    .search-phone {
        display: block;
    }

    #searchBar {
        display: none;
    }

    #menu-sm {
        display: none;
    }
    
#menu-hamburger{
    display: block;
}
}

/* TAILLE IPAD */
@media (min-width: 576px) and (max-width: 770px) {}

/* TAILLE ECRAN MOYEN */
@media (min-width: 771px) and (max-width: 991px) {}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {}