* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #666666;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

a {
    color: black;
}

a:hover {
    color: #666666;
}

#header {
    background-color: #666666;
}

#main {
    background-color: white;
}

#bloc{
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #eeeeee;
}

.info-bloc{
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}

#logo {
    max-height: 100px;
}

.green {
    color: #01cc9b;
}
.bg-green {
    background-color: #01cc9b;
}

.bg-menu {
    background-color: white;
    border: 1px solid black;
    border-top-color: white;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}


.white-icon {
    color: white;
    font-size: 2.2em;
}

.search-phone {
    display: none;
}

#searchBar {
    display: block;
}

.input-group-text {
    background-color: #01cc9b;
    border: black;
}

.form-control:focus {
    border-color: #01cc9b;
}

.ui-menu-item-wrapper:hover {
    background-color: #01cc9b;
    border-color: #666666;
}

.btn-primary {
    background-color: #01cc9b;
    border-color: #666666;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    padding-left: 1px;
    padding-right: 1px;
    font-weight: bold;
}

.btn-primary:focus {
    background-color: #01cc9b;
    border-color: #666666;
}

.btn-primary:hover {
    background-color: #00b48a;

    border-color: #666666;
}

.btn-secondary{
    background-color: #01cc9b;
    border-color: #666666;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.btn-secondary:focus {
    background-color: #01cc9b;
    border-color: #666666;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #00b48a;
    border-color: #666666;
    font-weight: bold;
}

.mega-menu-ul {
    list-style: none;
}

.mega-menu-ul li {
    margin: 20px;
}

.menu-img {
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#mega-menu1 {
    display: none;
    z-index: 100;
}

#mega-menu2 {
    display: none;
    z-index: 100;
}

#mega-menu3 {
    display: none;
    z-index: 100;
}

#menu-hamburger {
    display: none;
}

#footer{
    background-color: #666666;
}

.icon-footer{
    margin-left: 4px;
    margin-right: 4px;
}
.btn-contact{
    
    margin-bottom: 20px;
    margin-left: 94%;
}

.hidden-footer-link{
    visibility: hidden;
}

.breadcrumb{
    background-color: transparent;
}

.spinner{
    max-width: 40px;
}

.cart-img{
    max-height: 150px;
    max-width: 300px;
}

.product-name{
    font-weight: bold;
    letter-spacing: 2px;
}

.price{

}

.form-contact{
    background-color: #eeeeee;
    width: 100%;
    
}
.title-contact{

    padding-top: 20px;
}
.btn-contact{
    
    margin-bottom: 20px;
    margin-left: 75%;
}
.compte-menu{
    height: 400px;
    border: 1px black;
}
.adress-customer{
    height: 400px;

    border: 1px black;

}


/* TAILLE TELEPHONE */
@media (max-width: 575.98px) {
    .search-phone {
        display: block;
    }

    #searchBar {
        display: none;
    }

    #menu-sm {
        display: none;
    }
    
#menu-hamburger{
    display: block;
}
}

/* TAILLE IPAD */
@media (min-width: 576px) and (max-width: 770px) {
    .btn-contact{
        margin-left: 88%;
    }
    .form-contact{
        width: 90%; 
        margin-top: 15px; 
        margin-bottom: 15px;
    }
}

/* TAILLE ECRAN MOYEN */
@media (min-width: 771px) and (max-width: 991px) {
    .btn-contact{
        margin-bottom: 20px;
        margin-left: 70%;
    }
}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {
    .form-contact{
        width: 67%; 
        margin-top: 15px; 
        margin-bottom: 15px;
        padding-top: 15px;
    }
    .btn-contact{
        margin-bottom: 20px;
        margin-left: 89%;
    }
}